{% extends "base.html" %}


{% block head %}
    <title>CaveGameGuides - Home </title>
{% endblock %}


{% block content %}
    <div class="container">
      <img src="{{url_for('static', filename='media/home_image.png')}}" alt="Snow" style="width:100%;">

      <div class="centered">Welcome to the best place for <br><br>redstone courses.</div>
    </div>

    <div class="About">
         <h1>About Us</h1>
        <p>Welcome to CaveGameGuides!</p>
        <p>We provide the best guides for all your redstone needs.</p>
        <p>Join us for tutorials, tips, and tricks to master your builds.</p>
        <p>Happy Building!</p>
    </div>

{% endblock %}