{% extends "base.html" %}


{% block head %}
    <title>CaveGameGuides - Login </title>
{% endblock %}


{% block content %}
    <div class="About">
        <h1>Login</h1>
        <form method="POST">
            <div>
                <ul>
                    <label for="username">Username:</label>

                    <div class="ui input">
                    <input style="height: 35px" type="text" id="username" name="Username" minlength="3" required />
                </div>
                </ul>

            </div>
            <div>
                <ul>
                    <label for="pass">Password (8 charter minium)</label>
                    <div class="ui input">
                        <input style="height: 35px" type="password" id="pass" name="Password" minlength="8" required />
                    </div>
                </ul>
            </div>

            <input type="submit" value="Sign In">

            <div>
                {% if response != "Null" %}
                        <p class="Error">{{ response }}</p>
                {% endif %}
            </div>
            <br>
            <a href="signup">Make a account if you don't have one!</a>

        </form>
    </div>
{% endblock %}